<strong>Olá, {{student}}</strong>
<p><strong>Respondendo à sua solicitação: </strong></p>
<p><strong>{{student}}:</strong></p>
<p>{{question}}</p>
<br />
<p><strong>{{admin}}</strong>:</p>
<p> {{answer}}</p>
